<div class="col-md-6 offset-3">
    <h3 class="text">We are facing some issue, inconvenience is higly regretted</h3>
</div>
<div class="col-6">
    <a class="btn btn-warning" asp-controller="Movies" asp-action="Index">Explore other movies</a>
</div>