@model string;
<div style="position:float-right; right:105px; bottom:85px" class="text-end">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add new</a>
</div>